/* FONT */
@font-face {
    font-family: 'Slabo27';
    src: url(fonts/Slabo27px-Regular.ttf);
}

   /* ADD ON 25/02/2014 */
html {
    overflow: hidden;
    height: 100%;
}





* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#F2F2F2;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;


    /* ADD ON 25/02/2014 */
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

/* Portrait layout (default) */

/* ----------- HEADER ----------- */
.header{
    position: fixed; 
    top:0; left:0;
    width: 100%;
    z-index: 1000;
    padding-top : 15px;
    background-color: #023453;
    overflow: hidden;
    margin: 0px;
    max-height: 50px !important;
    height: 50px !important;
    line-height: 50px;
}
.header-left-icon{
    position: relative;
    float: left;
    left: 5%;
    color: white;
    font-size: 1.8em;
}
.header-right-icon{
    position: relative;
    float: right;
    right: 5%;
    color: white;
    font-size: 1.8em;
}
.header-logo{
    position: relative;
    float: left;
    left: 30%;
    color: white;
    font-size: 1.7em;
    font-family: 'roboto';
    font-weight: 500;
    text-transform: uppercase;
}

/* ----------- SEARCH ----------- */
.search{
    width:100%;
    height: 35px;
    background-color: #FFF;
    padding-top: 0px;
    margin-bottom: 10px;
}
.search-bar{
    text-align: center;
}
.search-bar input{
    width: 100%; 
    height: 35px;
    padding: 0px 10px;
    border: 1px solid #FFF;
    background-color: #FFF;
    font-family:Arial, FontAwesome;
    border-bottom: 1px solid #E9EAEB;
    font-size: 1.2em;
    -webkit-appearance:none;
    border-radius: 0px;
}
.search-bar input.placeholder {
    text-align: center;
}
/* ----------- WAPPER ----------- */

.wrapper{
    top: 65px;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    /* IF FOOTER
    margin-bottom:15px; */
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /*to make it smooth as native*/
}
.d-place{
    width: 96%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 7px;
    overflow:hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))), url('../img/demo_club.jpg') no-repeat;
    background-size: 100%;
}
.d-place .statut{
    float: right;
    color: #FFF;
    width: 25%;
    margin: 10px 3% 0% 0%;
    padding: 3px 4px;
    border-radius: 2px;
    text-align: center;
    background-color: RGBA(36, 81, 27, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
    /*border:1px solid RGBA(216, 216, 216, 0.2);*/
}
.d-place .data{
    margin: 37px 5px 5px 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.d-place .name{
    display: inline-block;
    min-width: 25%;
    margin: 5px 0% 0% 2%;
    font-size: 3em;
    color: white;
    font-family: 'Slabo27';
    text-transform: uppercase;
    font-size: 2.5em;
}
.d-place .type{
    margin-left: 1%;
}
.d-place .distance{
    margin-left: 3%;
}
.d-place .lastactivity{
    margin-left: 3%;
}

/* ----------- PLACE PAGE FOCUS ----------- */
.places-wrapper{
    top: 65px;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    margin-bottom:60px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /*to make it smooth as native*/
}
.places-footer{
    overflow: hidden;
    position: fixed;
    bottom:0px;
    z-index: 1;
    overflow: auto;
    background-color: #FFFFFF;
    width:100%;
    height:60px;
}
.place-header{
    width: 100%;
    height: 130px;
    background-color: white;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))), url('http://infactr.com/bkknight/img/levels.jpg') no-repeat;
    background-size: 100%;
}
.place-name{
    float : left;
    position: absolute;
    top: 60px;
    font-size: 3.5em;
    font-family: 'Slabo27';
    text-transform: uppercase;
    color: white;
    margin-left: 5%;
}
.place-statut{
    float: right;
    position: absolute;
    top : 70px;
    left : 60%;
    font-size: 2em;
    font-family: 'Slabo27';
    text-transform: uppercase;
    color: white;
    background-color: #25501D;
    padding: 3px 7px;
    border-radius: 3px;
}
.place-infos{
    background-color: #FFFFFF;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5A6771;
}
.place-infos i{
    font-size: 1.5em;
    padding-right: 10px;
    color: #B2BAC2;
}
.place-location{
    height: 50px;
    line-height: 50px;
}
.place-lastactivity{
    height: 50px;
    line-height: 50px;
    border-top : 1px solid #EBEBEB;
}
.place-lastactivity .la{
    color: red;
}
.place-tags{
    height: 50px;
    line-height: 50px;
    border-top : 1px solid #EBEBEB;
}
.place-tags span{
    background-color: #5A6771;
    margin: 0px 5px;
    padding: 3px;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
}
.place-hits{
    width: 97%;
    margin: 0 auto;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.place-hits .hit{
    box-sizing: Border-box;
    width: 100%;
    padding: 0px 10px;
    height: 40px;
    font-size: 1.1em;
    line-height: 40px;
    margin-bottom: 5px;
    border-bottom : 1px solid #EBEBEB;
}
.place-hits .hit .hit-user{
    color: #41739C;
    font-weight: 500;
}
.place-hits .hit-time{
    float: right;
}



.place-buttons{
    height: 80px;
    background-color: #262729;
    color: #A2A3A5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 25px;
    text-transform: uppercase;
}
.place-button-checkin{
    width: 38%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
}
.place-button-picture{
    width: 23%;
    height: 100%;
    line-height: 60px;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.6em;
    background-color: #5DA4CE;
}
.place-button-closed{
    width: 38%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
}




/* ----------- INDEX/LOGIN PAGE ----------- */
.login-page
{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}
.login-header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #023453;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top : 30px;
}
.login-header h1{
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.login-header img{
    width: 60%;
}
.login-connect{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 170px;
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #F2F2F2;
}
.login-facebook{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #3C599F;
    font-weight: 400;
}
.login-signup{
    width: 80%;
    margin: 0 auto;
     margin-bottom: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #D8D8D8;
    font-weight: 400;
}
.login-login{
    width: 80%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #023453;
}
/* ----------- SUSCRIBE PAGE ----------- */
.form input{
    width: 100%;
    height: 55px;
    padding: 0px 10px;
    border:none;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0px;
    font-size: 1.4em;
    font-family: 'Roboto', 'FontAwesome';
    font-weight: 300;
}
.form .term{
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    color: #949494;
    font-size: 0.8em;
    line-height: 150%;
}
.form .term a{
    color:#949494;
}
.form-error{
    display: none;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #EE797A;
    font-family: 'Roboto', 'FontAwesome';
    font-weight: 300;  
}
.places-footer .action{
    width: 100%;
    height: 100%;
    background-color: #60A5CC;
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
    font-size: 2em;
}
/* ----------- LOGIN PAGE ----------- */
.form-error-login{
    display: none;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #EE797A;
    font-family: 'Roboto', 'FontAwesome';
    font-weight: 300;  
}
.forgot-password{
    width: 100%;
    text-align: center;
    padding-top : 7px;
    font-family: 'Roboto', 'FontAwesome';
    font-weight: 300;
    color: #023453;
    font-size: 1.1em;

}
/* ----------- USER PAGE ----------- */
.user-header{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #D8D8D8;
}
.user-header-profile-picture{
    width: 22%;
    height: 100%;
    float: left;
    Box-sizing: Border-box;
    padding : 10px 0px 0px 10px;
}
.user-header-profile-picture img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.user-header-profile-username{
    width: 55%;
    margin: 0px 0px 0px 5px;
    height: 100%;
    float: left;
}
.user-header-profile-username i{
    color: #B2BAC2;
    font-size: 1.4em;
    margin-right: 5px;
}
.user-header-profile-username p{
    display: inline-block;
    margin: 5px 0px;
    font-size: 1.6em;
    font-family: 'Roboto', 'FontAwesome';
    font-weight: 500;
    color: #5A6771;
}
.user-header-profile-username p:first-letter {
    text-transform: uppercase;
}
.user-stats{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8D8D8;
}
.user-stat-box{
    min-width: 30%;
    height: 100%;
    line-height: 26px;
    display: inline-block;
    font-size: 1.2em;
    font-family: 'Roboto', 'FontAwesome';
    font-weight: 500;
    text-transform: uppercase;
    color:#949494;
    padding-left: 2%;
    border-right: 1px solid #D8D8D8;

}
.user-stat-box:last-child{
    border-right:none;
}
.user-stat-box .data{
    font-size: 1.8em;
    color: #41739C;
    display: block;
}
.user-hit img{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position:relative;
    top:9px;
    margin-right: 5px;
}
.user-hit{
    box-sizing: Border-box;
    width: 97%;
    margin: 0 auto;
    padding: 0px 10px;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #CECECE;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}
.user-hit .hit-time{
    float: right;
    font-size: 0.8em;
    color: #5A6771;
}

.user-hit a{
    text-decoration: none;
    font-weight: 400;
    color: #41739C;
}
.user-hit .hit-user{
    color: #41739C;
    font-weight: 500;
}
.user-hit .hit-user p{
    margin: 0;
    padding: 0;
    display: inline;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
