/* FONT */
@font-face {
    font-family: 'Slabo27';
    src: url(fonts/Slabo27px-Regular.ttf);
}



* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#F2F2F2;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */

/* ----------- HEADER ----------- */
.header{
    width: 100%;
    height: 40px;
    padding-top : 30px;
    background-color: #023453;
}
.header-left-icon{
    position: relative;
    left: 5%;
    color: white;
    font-size: 2em;
}
.header-logo{
    position: relative;
    left: 40%;
    color: white;
    font-size: 2em;
}
.header-right-icon{
    position: relative;
    left: 75%;
    color: white;
    font-size: 2em;
}
/* ----------- CONTENT ----------- */
.content{
    margin-top : 5px;
}
.content-place-bg{
    width: 96%;
    height: 80px;
    margin: 0 auto;
    margin-top: 7px;
    background-color: white;
}
.content-place-statut{
    position: relative;
    float: left;
    width: 30%;
    height: 80px;
    text-align: center;
    background-color: #90C367;
    font-family: 'Slabo27';
    text-transform: uppercase;
    font-size: 2.4em;
    color: white;
}
.content-place-name{
    float: left;
    position: relative;
    left : 2%;
    height: 30px;
    font-family: 'Slabo27';
    text-transform: uppercase;
    font-size: 2.4em;
}
.content-data{
    position: relative;
    float: left;
    left:2%;
    top: 10px;
    float: left;
    height: 40px;
    width: 60%;
    color: grey;
}
.content-lastactivity{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.content-lastactivity-date{
    color: grey;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* ----------- PLACE ----------- */
.place-header{
    background-image: url("http://stylecityblog.files.wordpress.com/2012/09/mixx.jpg");
}



/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
